.post-article {
  @include outer-container;
}

.post-comments {
  @include outer-container;
}

.article__header {
  font-size: 150%;

  border-bottom: 1px solid $grey-300;

  padding-bottom: $spacing-small;
  margin-bottom: $spacing-small * 2;
}

@mixin manpage-ish-heading($title-text) {
  &:before {
    display: block;
    content: $title-text;

    font-family: $font-family-monospace;

    margin: $spacing-small 0;

    opacity: 0.54;
  }
}

.article__header__title {
  @include manpage-ish-heading('TITLE');
}

.article__content {
  font-size: 125%;
}


// content styling
@mixin md-heading-prefix($content) {
  &:before {
    display: inline-block;
    content: $content;

    margin-right: 0.5rem;

    color: $grey-300;
  }
}

@mixin code-block-common {
  font-family: $font-family-monospace;

  border: 1px solid;
  border-radius: 0.5rem;
}

.article__content {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    display: inline-block;

    border-bottom: 1px solid $grey-300;

    margin: $spacing-small * 3 0 $spacing-small;


    &:first-child {
      margin-top: 0;
    }
  }

  & h1 {
    @include md-heading-prefix('#');
  }

  & h2 {
    @include md-heading-prefix('##');
  }

  & h3 {
    @include md-heading-prefix('###');
  }

  & h4 {
    @include md-heading-prefix('####');
  }

  & h5 {
    @include md-heading-prefix('#####');
  }

  & h6 {
    @include md-heading-prefix('######');
  }

  & p,
  & .codehilite,
  & ul,
  & ol,
  & table {
    margin-bottom: $spacing-small * 2;
  }

  & em {
    font-style: italic;
  }

  & strong {
    font-weight: bold;
  }

  & a {
    color: $blue-500;
    // border-bottom: 1px dashed $blue-500;
    // text-decoration: underline;

    &:hover {
      background-color: $grey-200;
    }

    &:after {
      @include fa-inplace($fa-var-external-link, 1rem);

      margin-left: 0.25em;
    }
  }

  & ul,
  & ol {
    margin-left: $spacing-small * 2;

    // not that necessary besides obvious performance hit...
    // & ul {
    //   list-style-type: square;
    // }

    // & ol {
    //   list-style-type: lower-alpha;
    // }
  }

  & ul {
    list-style: disc outside;
  }

  & ol {
    list-style: decimal outside;
  }

  & code {
    display: inline-block;

    @include code-block-common;

    margin: 0 0.5rem;
    padding: 0 0.5rem;

    border-color: $grey-300;
    background-color: $grey-200;
  }

  & p,
  & li {
    & code {
      line-height: 1;
    }
  }

  & .codehilite {
    @include code-block-common;

    border-color: $grey-300;

    padding: $spacing-small;

    // fxxk, this block has no classes attached... so much for performance ;w;
    & code {
      display: block;
      background-color: transparent;
      border-radius: 0;
      border: none;
      margin: 0;
      padding: 0;

      line-height: normal;
    }

    @include highlight-solarized-light;
  }

  & table {
    width: 80%;
    margin: $spacing-small auto;
  }

  & th {
    background-color: $grey-200;

    font-weight: bold;
  }

  & th,
  & td {
    border: 1px solid $grey-300;

    padding: 0.5rem;

    &[align='center'] {
      text-align: center;
    }

    &[align='left'] {
      text-align: left;
    }

    &[align='right'] {
      text-align: right;
    }
  }

  & blockquote {
    background-color: $grey-200;
    border-left: $spacing-small solid $grey-300;
    padding: $spacing-small;

    & p:last-child {
      margin-bottom: 0;
    }
  }
}


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
