.page__footer {
  background-color: $grey-100;
  border-top: 1px solid $grey-300;

  padding: $spacing-small 0;

  font-size: 125%;

  color: rgba($grey-900, 0.54);

  &:hover {
    color: inherit;
  }
}

.page__footer__content {
  @include outer-container;

  text-align: center;
}

// huge hack to workaround the lack of space of Jade output ;w;
.page__footer__author {
  &:before {
    content: ' ';
  }
}


// footer links
.page__footer__links {
  &:before {
    display: inline-block;
    content: '|';

    margin: 0 ($spacing-small / 2);

    color: $grey-300;
  }
}

.page__footer__link {
  &:before {
    margin-right: 0.25em;
  }
}

.page__footer__link--github {
  @extend .page__footer__link;

  &:before {
    @include fa-inplace($fa-var-github);
  }
}


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
