.page__header {
	background-color: $grey-200;
	border-bottom: 1px solid $grey-300;

  padding: 2em 0;
}

.page__header__content {
  @include outer-container;
}

.header__title {
  font-family: $font-family-monospace;
  font-size: 400%;
}


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
