extends skel.jade


block title
  | {{ post.attrs.title }} - {{ blog_title }}


block content
  article.post-article
    header.article__header
      h1.article__header__title {{ post.attrs.title }}

    .article__content
      | {{ post.content.content }}

  section.post-comments
    include modules/duoshuo


//- vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
