#disqus_thread

script(type="text/javascript")
  | var disqus_shortname = 'write2';
  | (function() {
  |     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  |     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  |     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  | })();

noscript
  | Please enable JavaScript to view the

  a(href='https://disqus.com/?ref_noscript' rel='nofollow')
    | comments powered by Disqus.


//- vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
