.ds-thread(
  data-thread-key='{{ post.path.parent }}'
  data-title='{{ post.attrs.title }}'
  data-url='http://blog.xen0n.name/{{ post.path.parent }}/'
  )

script(type='text/javascript')
  | var duoshuoQuery = {short_name:"xen0nblog"};
  | (function() {
  |   var ds = document.createElement('script');
  |   ds.type = 'text/javascript';ds.async = true;
  |   ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
  |   ds.charset = 'UTF-8';
  |   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
  | })();


//- vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
