/* Solarized Dark

For use with Jekyll and Pygments

Forked from https://gist.github.com/qguv/7936275

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base01    #586e75  comments / secondary content
base1     #93a1a1  body text / default code / primary content
base3     #fdf6e3  background
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

@mixin highlight-solarized-light {
	color: $solarized-base01;
	background-color: $solarized-base3;

	& .lineno { color: $solarized-base1 } /* Line Numbers */
	& .c { color: $solarized-base1 } /* Comment */
	& .err { color: $solarized-base01 } /* Error */
	& .g { color: $solarized-base01 } /* Generic */
	& .k { color: $solarized-green } /* Keyword */
	& .l { color: $solarized-base01 } /* Literal */
	& .n { color: $solarized-base01 } /* Name */
	& .o { color: $solarized-green } /* Operator */
	& .x { color: $solarized-orange } /* Other */
	& .p { color: $solarized-base01 } /* Punctuation */
	& .cm { color: $solarized-base01 } /* Comment.Multiline */
	& .cp { color: $solarized-green } /* Comment.Preproc */
	& .c1 { color: $solarized-base01 } /* Comment.Single */
	& .cs { color: $solarized-green } /* Comment.Special */
	& .gd { color: $solarized-cyan } /* Generic.Deleted */
	& .ge { color: $solarized-base01; font-style: italic } /* Generic.Emph */
	& .gr { color: $solarized-red } /* Generic.Error */
	& .gh { color: $solarized-orange } /* Generic.Heading */
	& .gi { color: $solarized-green } /* Generic.Inserted */
	& .go { color: $solarized-base01 } /* Generic.Output */
	& .gp { color: $solarized-base01 } /* Generic.Prompt */
	& .gs { color: $solarized-base01; font-weight: bold } /* Generic.Strong */
	& .gu { color: $solarized-orange } /* Generic.Subheading */
	& .gt { color: $solarized-base01 } /* Generic.Traceback */
	& .kc { color: $solarized-orange } /* Keyword.Constant */
	& .kd { color: $solarized-blue } /* Keyword.Declaration */
	& .kn { color: $solarized-green } /* Keyword.Namespace */
	& .kp { color: $solarized-green } /* Keyword.Pseudo */
	& .kr { color: $solarized-blue } /* Keyword.Reserved */
	& .kt { color: $solarized-red } /* Keyword.Type */
	& .ld { color: $solarized-base01 } /* Literal.Date */
	& .m { color: $solarized-cyan } /* Literal.Number */
	& .s { color: $solarized-cyan } /* Literal.String */
	& .na { color: $solarized-base01 } /* Name.Attribute */
	& .nb { color: $solarized-yellow } /* Name.Builtin */
	& .nc { color: $solarized-blue } /* Name.Class */
	& .no { color: $solarized-orange } /* Name.Constant */
	& .nd { color: $solarized-blue } /* Name.Decorator */
	& .ni { color: $solarized-orange } /* Name.Entity */
	& .ne { color: $solarized-orange } /* Name.Exception */
	& .nf { color: $solarized-blue } /* Name.Function */
	& .nl { color: $solarized-base01 } /* Name.Label */
	& .nn { color: $solarized-base01 } /* Name.Namespace */
	& .nx { color: $solarized-base01 } /* Name.Other */
	& .py { color: $solarized-base01 } /* Name.Property */
	& .nt { color: $solarized-blue } /* Name.Tag */
	& .nv { color: $solarized-blue } /* Name.Variable */
	& .ow { color: $solarized-green } /* Operator.Word */
	& .w { color: $solarized-base01 } /* Text.Whitespace */
	& .mf { color: $solarized-cyan } /* Literal.Number.Float */
	& .mh { color: $solarized-cyan } /* Literal.Number.Hex */
	& .mi { color: $solarized-cyan } /* Literal.Number.Integer */
	& .mo { color: $solarized-cyan } /* Literal.Number.Oct */
	& .sb { color: $solarized-base01 } /* Literal.String.Backtick */
	& .sc { color: $solarized-cyan } /* Literal.String.Char */
	& .sd { color: $solarized-base01 } /* Literal.String.Doc */
	& .s2 { color: $solarized-cyan } /* Literal.String.Double */
	& .se { color: $solarized-orange } /* Literal.String.Escape */
	& .sh { color: $solarized-base01 } /* Literal.String.Heredoc */
	& .si { color: $solarized-cyan } /* Literal.String.Interpol */
	& .sx { color: $solarized-cyan } /* Literal.String.Other */
	& .sr { color: $solarized-red } /* Literal.String.Regex */
	& .s1 { color: $solarized-cyan } /* Literal.String.Single */
	& .ss { color: $solarized-cyan } /* Literal.String.Symbol */
	& .bp { color: $solarized-blue } /* Name.Builtin.Pseudo */
	& .vc { color: $solarized-blue } /* Name.Variable.Class */
	& .vg { color: $solarized-blue } /* Name.Variable.Global */
	& .vi { color: $solarized-blue } /* Name.Variable.Instance */
	& .il { color: $solarized-cyan } /* Literal.Number.Integer.Long */
}
